@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    background-color: #1f2937;
    color: white;  
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.navbar-left, .navbar-right {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin-top: 16px;
}
.navbar-right {
     font-size: 18px;
    color: #e5e7eb;
}
.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: center;
}
.header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: 150px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.left {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 90px;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.p-one {
    font-size: 18px;
    filter: contrast(50%);
    color: #e5e7eb; 
    margin-bottom: 10px;
}
img {
    margin-bottom: 50px;
    margin-right: 70px;
}
.signup-button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.container-two {
    margin-bottom: 70px;
}
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}
.blue-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
.box {
    border: 3px solid #3b82f6;
    border-radius: 15px;
    padding: 70px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.p-two{
   margin-left: 15px; 
   filter: contrast(50%);
   
}
.container-three {
    background-color: #e5e7eb;
    padding: 90px;
}
.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lower-quote {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-right: 120px;
}
.container-four {
    padding: 90px;
    margin-right: 70px;
}
.action-box {
    background-color: #3b82f6;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 40px;
    padding-left: 100px;
    padding-right: 120px;
}
.signup-two {
    background-color: #3b82f6;
    color: white;
    border: 2px solid white;
    padding: 6px 30px;
    border-radius: 8px;
    font-weight: bold;
}
.word {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-five {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #e5e7eb;
}




































